.fd-stack {
  --_fd-stack-gap: var(--fd-stack-gap, var(--size-3));
  --_fd-stack-justify-items: var(--fd-stack-justify-items, stretch);

  display: grid;
  gap: var(--_fd-stack-gap);
  justify-items: var(--_fd-stack-justify-items);
}

.fd-ram-grid {
  --_fd-ram-grid-gap-row: var(--fd-ram-grid-gap-row, var(--_fd-ram-grid-gap));
  --_fd-ram-grid-gap-column: var(--fd-ram-grid-gap-column, var(--_fd-ram-grid-gap));
  --_fd-ram-grid-gap: var(--fd-ram-grid-gap, var(--size-fluid-2));
  --_fd-ram-grid-min-width: var(--fd-ram-grid-min-width, 150px);


  display: grid;
  row-gap: var(--_fd-ram-grid-gap-row);
  column-gap: var(--_fd-ram-grid-gap-column);
  grid-template-columns:
    repeat(
      auto-fit,
      minmax(min(var(--_fd-ram-grid-min-width), 100%), 1fr)
    );
}

.fd-card {
  --_fd-card-background-color: var(--fd-card-background-color, var(--color-surface-1));
  --_fd-card-color: var(--fd-card-color, var(--text-1));
  --_fd-card-border-color: var(--fd-card-border-color, var(--color-border));
  --_fd-card-shadow: var(--fd-card-shadow, var(--shadow-3));
  --_fd-card-padding-inline: var(--fd-card-padding-inline, var(--size-3));
  --_fd-card-padding-block: var(--fd-card-padding-block, var(--size-7));

  &[data-variant="inverted"] {
    --fd-card-background-color: var(--color-surface-2-inverted);
    --fd-card-color: var(--text-1-inverted);
    --fd-info-text-color: var(--text-2-inverted);
    --fd-card-border-color: var(--color-border-inverted);
  }

  inline-size: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding-inline: var(--_fd-card-padding-inline);
  padding-block: var(--_fd-card-padding-block);
  color: var(--_fd-card-color);

  appearance: none;
  border: 1px solid var(--_fd-card-border-color);

  background-color: var(--_fd-card-background-color);
  border-radius: var(--radius-conditional-3);
  box-shadow: var(--_fd-card-shadow);

  @media (--small-desktop) {
    --_fd-card-padding-inline: var(--fd-card-padding-inline, var(--size-9));
  }
}

.fd-info-text {
  --_fd-info-text-color: var(--fd-info-text-color, var(--text-2));
  /* @todo use var instead? */
  /* font-size: var(--font-size-1); */
  font-size: 0.875rem;
  color: var(--_fd-info-text-color);
}