@import "https://unpkg.com/open-props/src/props.animations.css";
@import "https://unpkg.com/open-props/src/props.aspects.css";
@import "https://unpkg.com/open-props/src/props.borders.css";
@import "https://unpkg.com/open-props/src/props.easing.css";
@import "https://unpkg.com/open-props/src/props.fonts.css";
@import "https://unpkg.com/open-props/src/props.media.css";
@import "https://unpkg.com/open-props/src/props.shadows.css";
@import "https://unpkg.com/open-props/src/props.sizes.css";
@import "https://unpkg.com/open-props/src/props.supports.css";
@import "https://unpkg.com/open-props/src/props.zindex.css";

/** EXPERIMENTAL */
@import "https://unpkg.com/open-props/src/props.layouts.css";

/** NORMALIZE */
@import "https://unpkg.com/open-props/src/extra/normalize.css";

:root {
  color-scheme: light;

  --brand-hue: 252;

  /* light */
  --primary-color-light-0: hsl(252, 26%, 98%);
  --primary-color-light-1: hsl(252, 26%, 93%);
  --primary-color-light-2: hsl(252, 20%, 72%);
  --primary-color-light-3: hsl(252, 10%, 50%);
  --primary-color-light-4: hsl(252, 100%, 50%);
  --primary-color-light-5: hsl(252, 100%, 20%);
  --primary-color-light-6: hsl(252, 100%, 8%);
  --primary-color-light-7: hsl(252, 100%, 6%);

  /* base */
  --primary-color-dark-0: hsl(252, 100%, 8%);
  --primary-color-dark-1: hsl(252, 26%, 93%);
  --primary-color-dark-2: hsl(252, 20%, 72%);
  --primary-color-dark-3: hsl(252, 10%, 30%);
  --primary-color-dark-4: hsl(252, 100%, 50%);
  --primary-color-dark-5: hsl(252, 100%, 20%);
  --primary-color-dark-6: hsl(252, 100%, 8%);
  --primary-color-dark-7: hsl(252, 26%, 98%);

  /* Colors */
  --primary-color-0: var(--primary-color-light-0);
  --primary-color-1: var(--primary-color-light-1);
  --primary-color-2: var(--primary-color-light-2);
  --primary-color-3: var(--primary-color-light-3);
  --primary-color-4: var(--primary-color-light-4);
  --primary-color-5: var(--primary-color-light-5);
  --primary-color-6: var(--primary-color-light-6);
  --primary-color-7: var(--primary-color-light-7);

  --primary-color-base: var(--primary-color-4);
  --light-color-base: hsl(0, 100%, 100%);
  --neutral-color-base: hsl(252, 28%, 93%);

  --color-h1: var(--primary-color-base);
  --color-h2: var(--primary-color-base);
  --color-h3: var(--primary-color-base);
  --color-h4: var(--primary-color-base);
  --color-h5: var(--primary-color-base);
  --color-h6: var(--primary-color-base);

  /* Font Sizes */
  --font-size-h1: var(--font-size-8);
  --font-size-h2: var(--font-size-7);
  --font-size-h3: var(--font-size-6);
  --font-size-h4: var(--font-size-5);
  --font-size-h5: var(--font-size-4);
  --font-size-h6: var(--font-size-3);

  /* Font Weights */
  --font-weight-h1: var(--font-weight-5);
  --font-weight-h2: var(--font-weight-5);
  --font-weight-h3: var(--font-weight-5);
  --font-weight-h4: var(--font-weight-5);
  --font-weight-h5: var(--font-weight-5);
  --font-weight-h6: var(--font-weight-5);

  --global-spacing: var(--size-3);

  @media (--small-desktop) {
    --global-spacing: var(--size-10);
  }
}

html {
  color: var(--primary-color-5);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-color-0: var(--primary-color-dark-0);
    --primary-color-1: var(--primary-color-dark-1);
    --primary-color-2: var(--primary-color-dark-2);
    --primary-color-3: var(--primary-color-dark-3);
    --primary-color-4: var(--primary-color-dark-4);
    --primary-color-5: var(--primary-color-dark-5);
    --primary-color-6: var(--primary-color-dark-6);
    --primary-color-7: var(--primary-color-dark-7);

    --primary-color-base: var(--primary-color-4);
  }
} */
