/* the props */
@import "open-props/postcss/style";

/* optional imports that use the props */
@import "open-props/postcss/normalize";

/* globals */
@import "./globals.css";

/* @see https://unpkg.com/open-props/normalize.min.css */
:root {
  color-scheme: light;

  /* PRIMARY */
  --color-primary-hue: 252;
  --color-primary-saturation: 100%;
  --color-primary-9: hsl(var(--color-primary-hue), var(--color-primary-saturation), 17%);
  --color-primary-8: hsl(var(--color-primary-hue), var(--color-primary-saturation), 35%);
  --color-primary-7: hsl(var(--color-primary-hue), var(--color-primary-saturation), 50%);
  --color-primary-base: var(--color-primary-7);

  /* NEUTRAL */
  --color-accent-hue: 252;
  --color-accent-9: hsl(var(--color-accent-hue), 41%, 12%);
  --color-accent-8: hsl(var(--color-accent-hue), 41%, 20%);
  --color-accent-7: hsl(var(--color-accent-hue), 30%, 32%);
  --color-accent-6: hsl(var(--color-accent-hue), 20%, 43%);
  --color-accent-5: hsl(var(--color-accent-hue), 16%, 53%);
  --color-accent-4: hsl(var(--color-accent-hue), 20%, 72%);
  --color-accent-3: hsl(var(--color-accent-hue), 24%, 83%);
  --color-accent-2: hsl(var(--color-accent-hue), 26%, 93%);
  --color-accent-1: hsl(var(--color-accent-hue), 30%, 96%);
  --color-accent-0: hsl(var(--color-accent-hue), 30%, 100%);

  /* CONTEXTUAL PROPERTIES */
  --color-on-accent: var(--color-primary-9);
  --color-on-primary: var(--color-accent-0);

  /* ADAPTIVE PROPS */
  --link: var(--color-primary-base);
  --link-hover: var(--color-primary-7);
  --link-visited: var(--color-primary-base);
  --text-1: var(--color-primary-9);
  --text-2: var(--color-accent-7);
  --text-1-inverted: var(--color-accent-2);
  --text-2-inverted: var(--color-accent-4);
  --surface-1: var(--color-accent-0);
  --surface-2: var(--color-accent-2);
  --surface-3: var(--color-accent-3);
  --surface-4: var(--color-accent-4);
  --surface-1-inverted: var(--color-accent-9);
  --surface-2-inverted: var(--color-accent-8);
  --surface-3-inverted: var(--color-accent-7);
  --surface-4-inverted: var(--color-accent-6);
  --scrollbar-color: var(--color-accent-5);

  /* aliases */
  /* Simplifies updates from https://unpkg.com/open-props/normalize.min.css */
  --color-link: var(--link);
  --color-link-hover: var(--link-hover);
  --color-link-visited: var(--link-visited);
  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);
  --color-text-1-inverted: var(--text-1-inverted);
  --color-text-2-inverted: var(--text-2-inverted);
  --color-surface-1: var(--surface-1);
  --color-surface-2: var(--surface-2);
  --color-surface-3: var(--surface-3);
  --color-surface-4: var(--surface-4);
  --color-surface-1-inverted: var(--surface-1-inverted);
  --color-surface-2-inverted: var(--surface-2-inverted);
  --color-surface-3-inverted: var(--surface-3-inverted);
  --color-surface-4-inverted: var(--surface-4-inverted);

  --color-border: var(--color-accent-2);
  --color-border-inverted: var(--color-accent-8);

  /* @url https://yeun.github.io/open-color/#lime */
  --color-status-success: #37b24d;
  --color-status-success-weak: #e9fac8;
  /* @url https://yeun.github.io/open-color/#yellow */
  --color-status-warning: #f59f00;
  --color-status-warning-weak: #fff3bf;
  /* @url https://yeun.github.io/open-color/#red */
  --color-status-error: #f03e3e;
  --color-status-danger: var(--color-status-error);
  --color-status-error-weak: #ffc9c9; /* #ffe3e3 */

  /* HIGHLIGHTS */
  --color-highlight: hsl(18, 100%, 50%);

  /* FIXED */
  --color-primary-fixed: hsl(var(--color-primary-hue), var(--color-primary-saturation), 50%);

  /* OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD */

  --global-spacing: var(--size-3);

  @media (--large-mobile) {
    --global-spacing: var(--size-7);
  }

  @media (--small-desktop) {
    --global-spacing: var(--size-10);
  }
}

@media (prefers-color-scheme:dark) {
  :root {
    --color-primary-9: hsl(235, 97%, 76%);
    --color-primary-8: hsl(225, 81%, 81%);
    --color-primary-7: hsl(225, 100%, 86%);
    --color-primary-base: var(--color-primary-7);

    --color-on-primary: var(--color-accent-9);

    --link: var(--color-primary-7);
    --link-hover: var(--color-primary-8);
    --link-visited: var(--color-primary-8);
    --text-1: var(--color-accent-2);
    --text-2: var(--color-accent-4);
    --text-1-inverted: var(--color-accent-9);
    --text-2-inverted: var(--color-accent-7);
    --surface-1: var(--color-accent-9);
    --surface-2: var(--color-accent-8);
    --surface-3: var(--color-accent-7);
    --surface-4: var(--color-accent-6);
    --surface-1-inverted: var(--color-accent-0);
    --surface-2-inverted: var(--color-accent-2);
    --surface-3-inverted: var(--color-accent-3);
    --surface-4-inverted: var(--color-accent-4);

    --color-border: var(--color-accent-8);
    --color-border-inverted: var(--color-accent-2);

    color-scheme: dark;
  }
}

html {
  accent-color: var(--link);
  -webkit-text-size-adjust: none;
  background-color: var(--surface-1);
  block-size: 100%;
  caret-color: var(--link);
  color: var(--text-1);
  color-scheme: light;
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-3);
  scrollbar-color: var(--scrollbar-color) transparent
}

@media (prefers-color-scheme:dark) {
  html {
    color: var(--text-2);
  }
}

::placeholder {
  color: var(--text-2);
}

:--heading {
  font-weight: var(--font-weight-5);
  line-height: var(--font-lineheight-1)
}
