@import "https://unpkg.com/open-props/src/props.animations.css";
@import "https://unpkg.com/open-props/src/props.aspects.css";
@import "https://unpkg.com/open-props/src/props.borders.css";
@import "https://unpkg.com/open-props/src/props.easing.css";
@import "https://unpkg.com/open-props/src/props.fonts.css";
@import "https://unpkg.com/open-props/src/props.media.css";
@import "https://unpkg.com/open-props/src/props.shadows.css";
@import "https://unpkg.com/open-props/src/props.sizes.css";
@import "https://unpkg.com/open-props/src/props.supports.css";
@import "https://unpkg.com/open-props/src/props.zindex.css";

/** EXPERIMENTAL */
@import "https://unpkg.com/open-props/src/props.layouts.css";

/** NORMALIZE */
@import "https://unpkg.com/open-props/src/extra/normalize.css";

:root {
  --primary-color-0: hsl(252, 26%, 93%);
  --primary-color-1: hsl(252, 20%, 72%);
  --primary-color-2: hsl(252, 10%, 50%);
  --primary-color-3: hsl(252, 100%, 50%);
  --primary-color-4: hsl(252, 100%, 20%);

  --primary-color-base: var(--primary-color-3);

  --light-color-base: hsl(0, 100%, 100%);

  --global-spacing: var(--size-3);
}